/* Add this CSS to your existing stylesheet */

.container {
	/* max-width: 400px; */
	margin: 0 auto;
  }
  
  .logo {
	width: 250px;
	margin: 0 auto;
  }
  
  .form-outline {
	position: relative;
  }
  
  .form-control {
	/* border-radius: 25px; */
  }
  
  .form-label {
	position: -webkit-sticky;
	top: 50%;
	left: 20px;
	transform: translateY(-250%);
	color: #999;
	transition: all 0.3s ease;
	pointer-events: none;
  }

  .password-field {
	/* border-radius: 25px; */
  }
  
  .eye-icon {
	background : none !important;
	float: right;
    width: 20px;
	display: inline;
	cursor: pointer;
	transform: translateY(-50%);
	cursor: pointer;
	margin-top: -12px;
}
  .btn-primary {
	border-radius: 25px;
  }
  
  .gradient-custom-2 {
	background: linear-gradient(45deg, #007bff, #6610f2) !important;
	border: none;
  }
  
  .text-muted {
	font-size: 14px;
  }
  
  .btn-outline-danger {
	border-radius: 25px;
  }
  .placeholder-text {
	font-size: 12px;
	color: #aaa;
	transform: translateY(-100%);
	transition: all 0.3s ease;
  }

  .form-control:focus + .placeholder-text,
  .form-control:not(:placeholder-shown) + .placeholder-text {
	font-size: 10px;
	transform: translateY(-150%) translateX(-50%);
	color: #666;
  }

  /* Animate the logo */
  @keyframes float {
	0% {
	  transform: translateY(0);
	}
	50% {
	  transform: translateY(-5px);
	}
	100% {
	  transform: translateY(0);
	}
  }

  .logo:hover {
	width: 250px;
	margin: 0 auto;
	animation: float 3s infinite;
  }