.navbar {
  display: flex;
  align-items: center;
  background-color: #2874f0 !important;
  padding: 0.5rem 1rem;
}
mat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3f51b5;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  align-content: center;
  cursor: pointer;
 }


.ImgWrap {
  width: 120px;
  margin-right: 10px;
}

.search-bar {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
}

.search-bar input {
  width: 100%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-nav .nav-link:hover {
  color: #ddd;
}

.navbar-nav .badge {
  font-size: 0.75rem;
  vertical-align: top;
}

.navbar-toggler {
  margin-left: 10px !important;
}

@media (max-width: 800px) {
  .search-bar {
    display: none;
  }
  .navbar-header,
  .navbar-nav {
    width: 25%;
    justify-content: space-between;
  }
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .search-bar {
    max-width: 400px;
  }
}

@media (min-width: 1201px) {
  .search-bar {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  .search-bar {
    display: none;
  }
  .navbar-header,
  .navbar-nav {
    justify-content: space-between;
  }
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .search-bar {
    display: flex;
  }
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
  .navbar-toggler {
    display: block;
  }
  .search-bar {
    display: none;
  }
  .navbar-header,
  .navbar-nav {
    width: 25%;
    justify-content: space-between;
  }
  .ImgWrap {
    width: 40px;
    height: 35px;
    margin-right: 10px;
  }
  .navbar-collapse {
    flex-direction: column;
    align-items: center;
  }
}