<div class="card-container">
  <div class="header-container">
    <h3  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;font-style: italic;" class="header-name">{{'SAVED_CARDS' | translate}}</h3>
    <button *ngIf="!isEditing" class="btn edit-btn" (click)="toggleEdit()">
      <span>{{'ADD_NEW_CARD' | translate }}</span>
    </button>
    <button *ngIf="isEditing" class="btn cancel-btn" (click)="toggleEdit()">
      <span>{{'CANCEL' | translate }}</span>
    </button>
  </div>
  <div *ngFor="let item of added_card" class="card-row">
    <div class="card-header">

    </div>
    <div class="card-body">
      <div class="card-details">
        <img
          class="card-logo"
          src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
          alt="Card Logo"
        />
        <input type="text" value="{{item.card_number}}" disabled class="card-number"/>
      </div>
      <div class="card-action">
        <a (click)="deleteCard(item.user_id,item.card_id,item)" class="remove-card">Remove card</a>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf="isEditing" class="card-container" style="margin-top: 10px;">

  <div class="add-card">
    <div *ngIf="isEditing" class="new-card-form">
      <div class="form-row">
        <label for="cardholderName">{{'CARD_HOLDER_NAME' | translate }}</label>
        <input
          name="cardholderName"
          id="cardholderName"
          type="text"
          [(ngModel)]="formDatacard.card_holder_name"
          (input)="checkFields()"
          
        />
      </div>
      <div class="form-row">
        <label for="cardNumber">{{'CARD_NUMBER' | translate }}</label>
        <input
          name="cardNumber"
          id="cardNumber"
          type="text"
          [(ngModel)]="formDatacard.card_number"
          (input)="checkFields()"
          maxlength="12"
        />
      </div>
      <div class="form-row form-inline">
        <div class="form-col">
          <label for="expiryDate">{{'EXP_DATE' | translate }}</label>
          <input
            type="text"
            name="expiryDate"
            id="expiryDate"
            [(ngModel)]="formDatacard.expiry_date"
            placeholder="{{'MM_YY' | translate }}"
            (input)="checkFields()"
            maxlength="5"
          />
        </div>
        <div class="form-col">
          <label for="cvv">{{'CVV' | translate}}</label>
          <input
            type="text"
            name="cvv"
            id="cvv"
            [(ngModel)]="formDatacard.cvv"
            placeholder="{{'CVV' | translate}}"
            (input)="checkFields()"
            maxlength="3"
          />
        </div>
      </div>
      <div style="display: flex;">
      <button class="btn save-btn" [disabled]="!isEditMode" (click)="savedData(this.formDatacard)">
        {{'SAVE_CARD' | translate }}
      </button>
     <!--  <button class="btn cancel-btn" (click)="toggleEdit()">
        <span>{{'CANCEL' | translate }}</span>
      </button> -->
    </div>
    </div>
  </div>
</div>

