<div class="container">
  <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; font-style: italic;" class="shopping-cart-title">{{'ORDER_LIST' | translate }}</h2>
  <div *ngIf="orders.length > 0" class="cart-container">
    <div *ngFor="let item of orders; let i = index" class="cart-item">
      <img [src]="item.image" alt="{{ item.title }}" class="cart-item-image" />
      <div class="cart-item-info">
        <div class="cart-item-title">{{ item.title }}</div>
        <div class="cart-item-price">₹{{ item.price }}</div>
        <a href="">Invoice Download</a>
      </div>
    </div>
  </div>

  <div *ngIf="orders.length === 0" class="empty-cart">
    <p>No orders</p>
  </div>
</div>
