<div class="container-fluid ">
  <div class="container">
    <h1 class="mb-4">{{'ADDRESS_DETAILS' | translate }}</h1>
    <form action="#">
      <div class="row g-5">
        <div class="col-md-12 col-lg-6 col-xl-7">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="form-item w-100">
                <label class="form-label my-3">{{'FIRST_NAME' | translate }}<sup>*</sup></label>
                <input type="text"  [(ngModel)]="formDataAdrs.first_name"  name="fistNameaddress" class="form-control" (input)="checkFields()"  />
              </div>
            </div>
            <div class="col-md-12 col-lg-6">
              <div class="form-item w-100">
                <label class="form-label my-3">{{'LAST_NAME' | translate }}<sup>*</sup></label>
                <input type="text"   [(ngModel)]="formDataAdrs.last_name"  name="lastNameaddress" class="form-control" (input)="checkFields()"  />
              </div>
            </div>
          </div>
          <div class="form-item">
            <label class="form-label my-3">{{'MOBILE' | translate }}<sup>*</sup></label>
            <input type="tel"  [(ngModel)]="formDataAdrs.mobile"  name="mobileaddress" class="form-control" (input)="checkFields()"  />
          </div>
          <div class="form-item">
            <label class="form-label my-3">{{'EMAIL_ADDRESS' | translate }}<sup>*</sup></label>
            <input type="email"  [(ngModel)]="formDataAdrs.email_address"  name="emailAddress" class="form-control" (input)="checkFields()"  />
          </div>
          <div class="form-item">
            <label class="form-label my-3">{{'LOCALITY' | translate }} <sup>*</sup></label>
            <input
              type="text"
               [(ngModel)]="formDataAdrs.locality"  name="localityAddress"
              class="form-control" (input)="checkFields()" 
              placeholder="{{'HOUSE_NUMBER_STREET_NAME' | translate }}"
            />
          </div>
          <div class="form-item">
            <label class="form-label my-3">{{'TOWN_CITY' | translate }}<sup>*</sup></label>
            <input type="text"  [(ngModel)]="formDataAdrs.town_city"  name="townCityAddress" class="form-control" (input)="checkFields()"  />
          </div>
         <!--  <div class="form-item">
            <input type="text" style="display: none;" [(ngModel)]="formDataAdrs.id" [value]="this.appService.data.user_id" name="id" class="form-control" />
          </div> -->
          <div class="form-item">
            <label class="form-label my-3">{{'COUNTRY' | translate }}<sup>*</sup></label>
            <input type="text" [(ngModel)]="formDataAdrs.country"  name="countryAddress" class="form-control" (input)="checkFields()"  />
          </div>
          <div class="form-item">
            <label class="form-label my-3">{{'STATE' | translate }}<sup>*</sup></label>
          <select class="form-select"  [(ngModel)]="formDataAdrs.state" (change)="checkFields()" (select)="checkFields()" name="stateAddress" required>
            <option value="" disabled selected>--Select State--</option>
            <option value="Andaman & Nicobar Islands">Andaman & Nicobar Islands</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadra & Nagar Haveli & Daman & Diu">Dadra & Nagar Haveli & Daman & Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu & Kashmir">Jammu & Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Ladakh">Ladakh</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>
        </select>
        </div>
          <div class="form-item">
            <label class="form-label my-3">{{'POSTCODE_ZIP' | translate }}<sup>*</sup></label>
            <input type="text"  [(ngModel)]="formDataAdrs.postcode_zip"  name="postcocezipAddress" class="form-control" (input)="checkFields()"  />
          </div>

          <div class="form-item">
            <textarea  [(ngModel)]="formDataAdrs.address_optional"  name="textAreaAddress" style="margin-top: 10px;" class="form-control" (input)="checkFields()"  spellcheck="false" cols="30" rows="11" placeholder="Address(Optional)"></textarea>
        </div>
        <div>
          <div class="form-item">
            <button [disabled]="!isEditingSave" name="btnSave"(click)="saveProfile(this.formDataAdrs)" style="margin-top: 10px; float: right;" type="button" class="btn btn-primary  btn-sm">
              {{'SAVE' | translate }}
            </button>
            </div>
            <div class="form-item">
              <button name="btncancel"  (click)="toggleEdit()" style="margin-top: 10px;float: right;margin-right: 4px;" type="button" class="btn btn-danger  btn-sm">
                {{'CANCEL' | translate }}
              </button>
          </div>
          </div>
        </div>
 <!--        <button (click)="goToPrevStep()" class="btn btn-danger">Previous</button>
        <button (click)="goToNextStep()" class="btn btn-primary">Next</button> -->
      </div>
    </form>
  </div>
</div>


