.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }

   .content.loading {
    filter: blur(14px); 
    pointer-events: none;
  }
  /* .container {
	width: 100%;
	margin: 0 auto;
	background-image: url('../../img/gradient-network-connection-background_23-2148881319.jpg');
	background-size: cover;
	padding: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */

  .content {
    transition: filter 0.3s;
  }
  