<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <section>
        <div class="text-center">
          <!-- <img src="../../../img/organic-store.jpg" style="width: 150px" alt="logo" /> -->
          <h2  class="animated-text mt-1 mb-5 pb-1">  {{'SIGN_UP' | translate }}</h2>
        </div>
        <form (ngSubmit)="onSubmit(this.formData)">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline mb-4">
                <input type="text" id="firstName" class="form-control"
                  [(ngModel)]="formData.firstName" name="firstName" (input)="checkFields()" required />
                <label class="form-label" for="firstName"><span class="text-danger">*</span> {{'FIRST_NAME' | translate }}</label>
                <!-- Validation message for {{'FIRST_NAME' | translate }} -->
                <small class="text-danger" *ngIf="formData.firstName ==''">
                  {{'FIRST_NAME' | translate }} is required
                </small>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline mb-4">
                <input type="text" id="lastName" class="form-control"
                  [(ngModel)]="formData.lastName" name="lastName" (input)="checkFields()" required />
                <label class="form-label" for="lastName"><span class="text-danger">*</span> {{'LAST_NAME' | translate }}</label>
                <!-- Validation message for {{'LAST_NAME' | translate }} -->
                <small class="text-danger"*ngIf="formData.lastName ==''">
                  {{'LAST_NAME' | translate }} is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <input type="tel" id="number1" class="form-control" [(ngModel)]="formData.number"
              name="number" maxlength="10"pattern="[0-9]{10}"  (input)="checkFields()" required #number ="ngModel" />
            <label class="form-label" for="number"><span class="text-danger">*</span> {{'PHONE_NUMBER' | translate }}</label>
            <!-- Validation message for {{'PHONE_NUMBER' | translate }} -->
            <small class="text-danger" *ngIf="number.invalid && (number.dirty || number.touched)">
              {{'PHONE_NUMBER' | translate }} must be 10 digit long
            </small>
          </div>
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" (input)="checkFields()" [(ngModel)]="formData.email"
              name="email" required #email ="ngModel" email />
            <label class="form-label" for="email"><span class="text-danger">*</span> {{'EMAIL_ADDRESS' | translate }}</label>
            <!-- Validation message for email -->
            <small class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              {{'EMAIL_ADDRESS' | translate }} is required 
            </small>
          </div>
          <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control password-field" [(ngModel)]="formData.password"
              name="password" (input)="checkFields()"  minlength="6" required #password ="ngModel"/>
            <label class="form-label" for="password"><span class="text-danger">*</span> {{'PASSWORD' | translate }}</label>
            <span>
              <i id="toggleIcon" class="eye-icon fa fa-eye" aria-hidden="true" (click)="showPassword()"></i>
            </span>
            <!-- Validation message for password -->
            <small class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              Password must be at least 6 characters long
            </small>
          </div>
          <button type="submit" class="btn btn-primary btn-block gradient-custom-2 mb-4" [disabled]="!isSignupEnabled">
            {{'SIGN_UP' | translate }}
          </button>
          <div class="d-flex align-items-center justify-content-right pb-2" style="margin-top: 10px">
            <p class="mb-0 me-2">{{'ALREADY_A_USER' | translate }}</p>
            <button type="button" class="btn btn-outline-danger" (click)="navigateTo('login')">
              {{'LOGIN' | translate }}
            </button>
          </div>
          <div class="text-center" style="margin-bottom: -30px">
            <p>{{'OR_SIGN_UP_WITH' | translate }}</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>