
/* .container {
	width: 100%;
	margin: 0 auto;
	background-image: url('../../../img/gradient-network-connection-background_23-2148881319.jpg');
	background-size: cover;
	padding: 100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  } */

  .logo {
	width: 250px;
	margin: 0 auto;
  }
  
  .form-outline {
	position: relative;
  }
  
/*   .form-control {
	border-radius: 25px;
  } */
  
  .form-label {
	position: absolute;
	top: 50%;
	left: 11px;
	transform: translateY(-50%);
	color: #999;
	transition: all 0.3s ease;
	pointer-events: none;
  }
  
  .form-control:focus + .form-label,
  .form-control:not(:placeholder-shown) + .form-label {
	top: 0;
	font-size: 8px;
	color: #6c757d;
	top: calc(-25px + 17px);
  }
  
 /*  .password-field {
	border-radius: 25px;
  } */
  
 
  .eye-icon {
	background : none !important;
	float: right;
    width: 20px;
	display: inline;
	cursor: pointer;
	transform: translateY(-50%);
	cursor: pointer;
	margin-top: -12px;
}
  .btn-primary {
	border-radius: 25px;
  }
  .gradient-custom-2 {
	background: linear-gradient(45deg, #007bff, #6610f2) !important;
	border: none;
  }